@media screen and (max-width: 646px) {
  .footer-section {
    padding: 5% 0;
    text-align: center;
  }

  .footer-section__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feedback-card__wrap-text {
    max-width: unset;
  }

  .feedback-card__botones {
    right: 40%;
  }
}

@media screen and (max-width: 734px) {
  :root {
    --tamaño-de-fuente-Titulos-H1: 3.2rem;
    --tamaño-de-fuente-Titulos-H2-principal: 3rem;
    --tamaño-de-fuente-principal: 1.4rem;
    --grid-colums-auto: 1;
  }

  /* nav  */

  .globalheader__wrap {
    padding: 5%;
  }

  .globalheader__nav-container {
    display: none;
  }

  .globalheader__botonMobile {
    display: flex;
  }

  /* Seccion header */
  .main__headersection {
    justify-content: center;
    padding: 5%;
    text-align: center;
  }

  .headersection__headline-wrap {
    padding: 5%;
    margin: 0;
  }

  .headersection__title {
    min-width: 0;
    text-wrap: balance;
  }

  /* Seccion iconos  */

  .icon-section {
    padding: 5%;
    flex-flow: wrap-reverse;
  }

  /* seccion de feature producs mobile  */

  .home-productOne-section {
    flex-direction: column-reverse;
    padding: 5% 0;
    gap: 20px;
  }

  .home-productOne-section__text {
    margin: 0;
    padding: 0 5%;
    text-align: center;
    align-items: center;
  }

  .products-grid {
    width: 100%;
  }

  .product-item:first-child {
    margin-left: 10px;
  }

  /* our collections */
  .ourcollections-container h2 {
    margin: 0;
    padding-bottom: 5%;
  }

  /* seccion de our selections  */

  .home-productTwo-section {
    flex-direction: column-reverse;
    padding: 5% 0;
    gap: 20px;
  }

  .home-productTwo-section__text {
    margin: 0;
    padding: 0 5%;
    text-align: center;
    align-items: center;
  }

  .home-productTwo-section__text h2 {
    max-width: unset;
  }

  .Selection-grid {
    width: 100%;
  }

  .Selection-item:first-child {
    margin-left: 10px;
  }

  /* VIDEOOO */

  .Home-Our-story {
    padding: 0 0 5% 0;
    align-items: baseline;
  }

  /* FOOTER */

  .footer__wrap-box1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
  }

  .footer__nav-footer-colum {
    margin: 0;
  }

  .footer__nav-footer {
    gap: 48px;
    text-align: left;
  }

  .footer__wrap-box2 {
    padding: 5%;
  }

  /* product details */

  .product-details__section {
    padding: 24px 0;
  }

  .product-details__img-Galery {
    flex-direction: column-reverse;
  }

  .img-galery__aside-conteiner {
    flex-direction: row;
    padding-top: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .product-details__details-box {
    padding: 5%;
  }
}

@media screen and (max-width: 1160px) {
  .ourcollections-container {
    padding: 5% 0;
  }

  .collections-grid {
    grid-template-columns: repeat(var(--grid-colums-auto), 1fr);

    grid-auto-rows: max-content;
    width: 100%;
    gap: 1px;
  }

  .collection-item {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .elevated {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

    .footer__wrap-box1 {
        flex-wrap: wrap;
    }

}

@media (max-width: 850px) {
    html {
      font-size: 14px;
    }
  
    .main__date {
      display: block;
    }
 
  }

