:root {
  --Color-primario: #032922;
  --Color-primario-ofsat: #03292263;
  --Color-primario-soft: #f2f8f8;
  --color-primario-claro: #0d554a;
  --color-primario-oscuro: #171a1f4d;
  --color-secundario: #f5d38eff;
  --color-secundario-oscuro: #b37d10ff;

  --color-de-fuente-neutral-500: #9095a0ff;
  --color-de-fuente-neutral-600: #565e6cff;
  --color-de-fuente-neutral-650: #424955ff;
  --color-de-fuente-neutral-900: #171a1fff;

  --color-blanco: #fff;
  --color-blanco-95: hsl(0, 0%, 95%);
  --color-gris-80: #cccccc;
  --color-gris-65: #a6a6a6;

  --color-bordes-oscurecidos: #093931ff;

  --color-fondo-primario: var(--color-blanco);
  --color-background-secundary: #f9f9fa;
  --color-fondo-especial: var(--color-primario);

  --estilo-de-fuente-Titulos: "Cormorant Garamond", serif;
  --estilo-de-fuente-Principal: "Manrope", serif;

  --peso-de-fuente-titulo-pequeño-700: 700;
  --peso-de-fuente-principal-600: 600;
  --peso-de-fuente-secundario-400: 400;

  --tamaño-de-fuente-Titulos-H1: 7.2rem;
  --tamaño-de-fuente-Titulos-H2-principal: 4rem;
  --tamaño-de-fuente-Titulos-H2-footer: 4.8rem;
  --tamaño-de-fuente-Titulos-H3: 1.8rem;
  --tamaño-de-fuente-Titulos-H4: 2.4rem;
  --tamaño-de-fuente-span-20: 2rem;
  --tamaño-de-fuente-principal: 1.6rem;
  --tamaño-de-fuente-small: 1.4rem;
  --tamaño-de-fuente-ultra-small: 1.2rem;

  --tamaño-de-fuente-logo-darling: 3rem;

  --tamaño-de-fuente-our-collections-fotos: 3.2rem;
  --tamaño-de-fuente-our-products-listing: 6.2rem;

  --tamaño-de-fuente-botones: 1.8rem;
  --radio-de-boton-principal: 2.6rem;
  --borde-boton-principal-white: 1px var(--color-blanco) solid;
  --borde-boton-principal-verde: 1px var(--Color-primario) solid;
  --fondo-de-boton-transparente: rgba(255, 255, 255, 0);

  --ancho-icon-nav: 20px;
  --alto-icon-nav: 20px;
  --ancho-icon-seccion: 62px;
  --alto-icon-seccion: 62px;

  --paddin-48-132: 48px 132px;
  --border-radius-general: 8px;
  --border-radius-cards: 8px 8px 0 0;

  --max-width-general: 1440px;
  --grid-colums-auto: 3;

  --Trasicion-MidSlow: 280ms cubic-bezier(0.83, 0, 0.2, 1);
}

/* Se establece 62.5% para hacer uso de rem en este proyecto 1 rem = 10px  */

html {
  font-size: 62.5%;
  font-family: var(--estilo-de-fuente-Principal);
}

body {
  background-color: var(--color-fondo-primario);
  font-size: var(--tamaño-de-fuente-principal);
  min-width: 320px;
  font-weight: var(--peso-de-fuente-principal-400);
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: var(--estilo-de-fuente-Titulos);
}

p {
  line-height: 26px;
}

.estado--oculto {
  display: none;
  visibility: hidden;
}

.globalheader {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  background-color: var(--Color-primario);
}

.globalheader__wrap {
  max-width: 1440px;
  display: flex;
  overflow: hidden;
  height: 62px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  margin: 0 auto;
}

.globalheader__wrap a {
  text-decoration: none;
}

.globalheader__logo {
  font-family: var(--estilo-de-fuente-Titulos);
  font-size: var(--tamaño-de-fuente-logo-darling);
  color: var(--color-secundario);
  grid-column: 1/3;
  justify-items: start;
  text-align: left;
}

.globalheader__nav-container {
  display: flex;
  align-items: center;
}

.globalnav {
  padding: 0 20px;
}

.globalnav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.globalnav__item {
  display: inherit;
}

.globalnav__link__text {
  padding: 10px;
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.globalnav__link:hover ::before {
  content: "";
  width: 100%;
  height: auto;
  border-bottom: 2px var(--color-secundario) solid;
  position: absolute;
  z-index: 1;
  bottom: -5px;
  right: 0;
}

.globalnav__item a {
  margin: 10px 0 10px 0px;
  border-bottom: unset;
  transition: 80ms ease-in-out;
}

.globalnav__link__text {
  font-family: var(--estilo-de-fuente-Principal);
  font-size: var(--tamaño-de-fuente-small);
  font-weight: var(--peso-de-fuente-secundario-400);
  color: var(--color-blanco);
}

.globalheader__icons {
  display: inherit;
  align-items: center;
  justify-content: center;
  height: 20px;
  gap: 10px;
}

.header__icon {
  height: 100%;
}

.header__icon svg path {
  stroke-width: 1.2;
}

.header__icon:hover svg path {
  stroke: var(--color-secundario);
}

.globalheader__botonMobile {
  background-color: transparent;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
}

.globalheader__botonMobile svg {
  width: 100%;
  height: auto;
  transition: 80ms ease-in-out;
  -webkit-transition: 80ms ease-in-out;
  -moz-transition: 80ms ease-in-out;
  -ms-transition: 80ms ease-in-out;
  -o-transition: 80ms ease-in-out;
  -webkit-transition: 80ms ease-in-out;
  -moz-transition: 80ms ease-in-out;
  -ms-transition: 80ms ease-in-out;
  -o-transition: 80ms ease-in-out;
}

.globalheader__botonMobile svg:hover {
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
}

.main__wrap {
  margin: 0 auto;
  padding-top: 62px;
}

/* Seccion del header by Holguer pinzon*/

.main__headersection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 50px;
  height: auto;
  gap: 48px;
  overflow: hidden;
  background-image: url(../assets/img/textures/texture.svg);
  background-color: var(--Color-primario);
}

.headersection__headline-wrap {
  max-width: 537px;
  margin-right: 72px;
  margin-bottom: 24px;
}

.headersection__title {
  margin: 0 0 0.67em 0;
  font-size: var(--tamaño-de-fuente-Titulos-H1);
  color: var(--color-secundario);
  font-weight: var(--peso-de-fuente-secundario-400);
}

.headersection__art-wrap {
  /* display: inherit;
    justify-content: center;
    align-items: center; */
  position: relative;
}

.headersection__imageContainer {
  display: flex;

  width: 100%;
}

.headersection__image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.headersection__video-wrap {
  background-color: #9095a0;
  width: 241px;
  height: 321px;
  overflow: hidden;
  display: flex;
  border-radius: 150px 150px 0 0;
  resize: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 70%;
  /* left: -100px; */
  /* max-width: 241px; */
  pointer-events: none;
  box-sizing: border-box;
}

.headersection__video-wrap video {
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  pointer-events: auto;
}

/* Icon section Tatiana 1*/

.icon-section {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--color-blanco);
}

.icon-box {
  text-align: center;
  line-height: 20px;
  max-width: 276px;
  padding: 10px;
}

.icon-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.icon-box h3 {
  margin-bottom: 10px;
  font-size: var(--tamaño-de-fuente-Titulos-H3);
  font-weight: var(--peso-de-fuente-principal-600);
  color: var(--color-de-fuente-neutral-900);
}

.icon-box p {
  font-size: var(--tamaño-de-fuente-principal);
  font-weight: var(--peso-de-fuente-secundario-400);
  color: var(--color-de-fuente-neutral-500);
}

/*Featured products section tatiana 1 */
/* Edit by Holguer pinzon */

.home-productOne-section {
  width: 100%;
  height: auto;
  min-height: 554px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-secundary);
  padding: 48px 0 48px 5%;
}

.home-productOne-section__text {
  min-width: 264px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
}

.home-productOne-section__text h2 {
  font-size: var(--tamaño-de-fuente-Titulos-H2-principal);
  font-weight: var(--peso-de-fuente-principal-600);
  line-height: 56px;
  margin-bottom: 10px;
  color: var(--Color-primario);
  text-wrap: pretty;
  max-width: 262px;
}

.home-productOne-section__text p {
  font-size: var(--tamaño-de-fuente-principal);
  font-weight: var(--peso-de-fuente-secundario-400);
  color: var(--color-de-fuente-neutral-900);
  margin-bottom: 20px;
  line-height: 26px;
  max-width: 264px;
}

.button-shop-now {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  background-color: var(--fondo-de-boton-transparente);
  border-radius: 26px;
  cursor: pointer;
  width: 200px;
  height: 52px;
}

.button-default {
  color: var(--Color-primario);
  border: var(--borde-boton-principal-verde);
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.button-default:hover {
  color: var(--color-blanco);
  background-color: var(--Color-primario);
}

.button-white {
  color: var(--color-blanco);
  border: var(--borde-boton-principal-white);
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.button-white:hover {
  color: var(--Color-primario);
  background-color: var(--color-blanco);
}

.products-grid {
  display: flex;
  overflow-y: auto;
  gap: 20px;
  scrollbar-width: none;
}

.product-item {
  min-width: 276px;
  min-height: 410px;
  background-color: var(--color-blanco);
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}

.product-item:last-child {
  margin-right: 10px;
}

.product-item img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 278px;
  height: 320px;
  aspect-ratio: 276 / 320;
  border-radius: var(--border-radius-cards);
}

.product-item h3 {
  font-size: var(--tamaño-de-fuente-Titulos-H4);
  margin: 12px 0 0 12px;
}

.product-item p {
  font-size: var(--tamaño-de-fuente-principal);
  font-family: var(--estilo-de-fuente-Principal);
  margin: 0 0 18px 12px;
}

/*Our collections - Tatiana*/

.ourcollections-container {
  position: relative;
  min-height: 1082px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  background-color: var(--color-blanco);
  overflow: hidden;
}

.ourcollections-container h2 {
  font-size: var(--tamaño-de-fuente-Titulos-H2-principal);
  font-weight: var(--peso-de-fuente-principal-600);
  color: var(--Color-primario);
  margin-bottom: 88px;
}

.collections-grid {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 360px), 360px));
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 36px;
  justify-content: center;
}

.collection-item {
  width: 360px;
  height: 360px;
  border-radius: var(--border-radius-general);
  -webkit-border-radius: var(--border-radius-general);
  -moz-border-radius: var(--border-radius-general);
  -ms-border-radius: var(--border-radius-general);
  -o-border-radius: var(--border-radius-general);
  overflow: hidden;
}

.elevated {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.collection-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.collection-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-blanco);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: var(--tamaño-de-fuente-our-collections-fotos);
  font-weight: var(--peso-de-fuente-principal-600);
  margin: 0;
}

/*Our-Selection-of-Jewelry-Daniela*/
.home-productTwo-section {
  width: 100%;
  height: auto;
  min-height: 554px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-secundary);
  padding: 48px 0 48px 5%;
}

.Our-Selection-of-Jewelry-wrap {
  display: inherit;
  justify-content: center;
  /* padding: 72px 132px; */
}

.home-productTwo-section__text {
  min-width: 264px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
}

.home-productTwo-section__text h2 {
  font-size: var(--tamaño-de-fuente-Titulos-H2-principal);
  font-weight: var(--peso-de-fuente-principal-600);
  line-height: 56px;
  margin-bottom: 10px;
  color: var(--Color-primario);
  text-wrap: pretty;
  max-width: 262px;
}

.home-productTwo-section__text p {
  font-size: var(--tamaño-de-fuente-principal);
  font-weight: var(--peso-de-fuente-secundario-400);
  color: var(--color-de-fuente-neutral-900);
  margin-bottom: 20px;
  line-height: 26px;
  width: 264px;
}

.Selection-grid {
  display: flex;
  overflow-y: auto;
  gap: 20px;
  scrollbar-width: none;
}

.Selection-item {
  min-width: 276px;
  min-height: 410px;
  background-color: var(--color-blanco);
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}

.Selection-item h3 {
  font-size: var(--tamaño-de-fuente-Titulos-H4);
  margin: 12px 0 0 12px;
}

.Selection-item p {
  font-size: var(--tamaño-de-fuente-principal);
  font-family: var(--estilo-de-fuente-Principal);
  margin: 0 0 18px 12px;
}

.Selection-item img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 276 / 320;
  border-radius: var(--border-radius-cards);
}

.Home-Our-story {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 564px;
  background-color: var(--color-background-secundary);
  padding: 0 0 48px 0;
}

.story__wrap {
  display: inherit;
  justify-content: center;
  flex-direction: column;
}

.video-our-story {
  max-width: 1176px;
  max-height: 368px;
  display: flex;
  justify-content: center;
}

.Home-Our-story h2 {
  color: var(--Color-primario);
  font-size: var(--tamaño-de-fuente-Titulos-H2-principal);
  font-weight: var(--peso-de-fuente-principal-600);
  text-align: center;
  margin-bottom: 20px;
}

.video-our-story video {
  width: 100%;
  background-color: var(--color-blanco);
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* FOOTER BY holguer  */

.footer-section {
  display: flex;
  width: 100%;
  height: auto;
  padding: 72px 0 75px 0;
  background-color: var(--Color-primario);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section__text-wrap {
  color: var(--color-blanco);
  margin-bottom: 50px;
}

.footer-section__title {
  font-size: var(--tamaño-de-fuente-Titulos-H2-footer);
  font-weight: var(--peso-de-fuente-principal-600);
  margin-bottom: 12px;
}

.footer-section__description {
  font-size: var(--tamaño-de-fuente-principal);
  font-weight: var(--peso-de-fuente-principal-400);
  width: 264px;
}

.footer-section__feedback-card {
  min-height: 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primario-oscuro);
}

.feedback-card__img-container {
  width: fit-content;
  transform-origin: 0 0;
}

.feedback-card__img-container img {
  object-fit: cover;
  width: 100%;
}

.feedback-card__wrap-text {
  padding: 32px;
  max-width: 324px;
}

.feedback-card__parrafo {
  font-size: var(--tamaño-de-fuente-principal);
  color: var(--color-blanco);
  margin-bottom: 16px;
}

.feedback-card__person-name {
  font-family: var(--estilo-de-fuente-Principal);
  font-size: var(--tamaño-de-fuente-span-20);
  font-weight: var(--peso-de-fuente-titulo-pequeño-700);
  color: var(--color-blanco);
  line-height: 30px;
}

.feedback-card__person-pais {
  color: var(--color-blanco);
}

.feedback-card__botones {
  display: flex;
  position: absolute;
  bottom: -25px;
  right: 0;
  gap: 18px;
  z-index: 1;
}

.buttonCircle {
  background-color: transparent;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--borde-boton-principal-white);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.buttonCircle:hover {
  background-color: var(--color-blanco);
}

.buttonCircle svg {
  transform: translateX(-1px);
  -webkit-transform: translateX(-1px);
  -moz-transform: translateX(-1px);
  -ms-transform: translateX(-1px);
  -o-transform: translateX(-1px);
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.buttonCircle:hover svg {
  transform: translateX(-3px);
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
}

.buttonCircle svg path {
  fill: white;
}

.buttonCircle:hover svg path {
  fill: #093931ff; /* Cambia el color del SVG al hacer hover */
}

.btncPrev {
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  background-position-x: 16px;
}

/* footer */

.footer {
  width: 100%;
  min-height: 234px;
  background-color: var(--Color-primario);
  overflow: hidden;
  top: -1px;
}

.footer__wrap-box1 {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: var(--paddin-48-132);
  color: var(--color-blanco);
  max-width: 1440px;
  margin: 0 auto;
}

.footer__wrap-box1 a,
.footer__wrap-box1 ul {
  text-decoration: none;
  list-style: none;
}

.footer__logo {
  font-family: var(--estilo-de-fuente-Titulos);
  font-size: var(--tamaño-de-fuente-logo-darling);
  color: var(--color-secundario);
  height: 100%;
}

.footer__nav-footer {
  display: flex;
  justify-content: space-between;
}

.footer__nav-footer-colum {
  margin-right: 94px;
}

.nav-footer__item {
  margin-bottom: 12px;
}

.nav-footer__item a {
  font-size: var(--tamaño-de-fuente-small);
  font-weight: var(--peso-de-fuente-principal-400);
  color: var(--color-blanco);
}

.sub-noticias__title {
  color: var(--color-blanco);
  font-size: var(--tamaño-de-fuente-span-20);
  font-weight: var(--peso-de-fuente-titulo-pequeño-700);
}

.sub-noticias__descripcion {
  color: var(--color-blanco);
  font-size: var(--tamaño-de-fuente-ultra-small);
  margin-bottom: 16px;
}

.sub-noticias__form-subscripcion {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 36px;
  border-radius: 18px;
  border: var(--borde-boton-principal-white);
  outline: none;
  justify-content: space-between;
}

.form-subscripcion__icon {
  position: absolute;
  display: none;
}

.sub-noticias__form-subscripcion button:focus {
  border: none;
  outline: none;
}

.form-subscripcion__input {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-left: 10px;
  color: var(--color-blanco);
  border-radius: 18px 0 0 18px;
  -webkit-border-radius: 18px 0 0 18px;
  -moz-border-radius: 18px 0 0 18px;
  -ms-border-radius: 18px 0 0 18px;
  -o-border-radius: 18px 0 0 18px;
}

.form-subscripcion__input:focus {
  border: none;
  outline: none;
}

.form-subscripcion__input::-webkit-input-placeholder {
  color: var(--color-background-secundary);
}

.form-subscripcion__input::-moz-placeholder {
  color: var(--color-background-secundary);
}

.form-subscripcion__input:-ms-input-placeholder {
  color: var(--color-background-secundary);
}

.form-subscripcion__input::-ms-input-placeholder {
  color: var(--color-background-secundary);
}

.form-subscripcion__input::placeholder {
  color: var(--color-background-secundary);
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.form-subscripcion__input:focus::placeholder {
  opacity: 0.2;
}

.boton-especial {
  cursor: pointer;
  font-size: var(--tamaño-de-fuente-small);
  width: 114px;
  background-color: var(--color-secundario);
  border: none;
  border-radius: 0 18px 18px 0;
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.boton-especial:hover {
  background-color: var(--color-secundario);
  filter: brightness(115%);
  -webkit-filter: brightness(115%);
}

.footer__wrap-box2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 132px;
  align-items: center;
  padding-bottom: 25px;
  max-width: 1440px;
  margin: 0 auto;
}

.footer__copyright-title {
  font-size: var(--tamaño-de-fuente-small);
  color: var(--color-blanco);
  width: 100%;
  max-width: 1440px;
}

.footer__socialicons-wrap {
  display: flex;
  width: fit-content;
  gap: 16px;
}

.socialicons__link {
  list-style: none;
}

.socialicons__icon {
  display: flex;
  width: 24px;
  height: 24px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-twitter {
  background-image: url(/src/assets/icons/icon_social_networks/icon__x.svg);
}

.icon-facebook {
  background-image: url(/src/assets/icons/icon_social_networks/icon__facebook.svg);
}

.icon-linkedin {
  background-image: url(/src/assets/icons/icon_social_networks/icon__linkedin.svg);
}

.icon-youtube {
  background-image: url(/src/assets/icons/icon_social_networks/icon__youtube.svg);
}


/* PRODUCT LISTING  */
.product-details__nav {
  width: fit-content;
}

.product-details__list {
  list-style: none;
  display: flex;
}

.product-details__list__item {
  display: flex;
  align-items: center;
}

.product-details__list__item:not(:last-child)::after {
  content: ">";
  font-size: var(--tamaño-de-fuente-principal);
  color: var(--color-primario-claro);
  margin: 5px;
}

.product-details__list__item:last-child a {
  pointer-events: none;
}

.product-details__links {
  text-decoration: none;
  color: var(--color-primario-claro);
  font-size: var(--tamaño-de-fuente-small);
  font-family: var(--estilo-de-fuente-Principal);
}

.product-details__links:hover {
  color: var(--color-secundario);
}


.product-details__section {
  display: flex;
  padding: 24px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  gap: 24px;
  min-height: 826px;
  width: 100%;
  overflow: hidden;
}

.product-details__section-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}
.product-details__img-Galery {
  display: flex;
}

.img-galery__aside-conteiner {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 10px;
  width: max-content;
}

.img-galery__aside-conteiner .img-container {
  width: 64px;
  height: 82px;
  border-radius: 4px;
  overflow: hidden;
}

.img-galery__aside-conteiner .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selected-Active {
  border: 2px var(--Color-primario) solid;
}

.img-galery__aside-conteiner .img-container:hover {
  filter: brightness(105%);
}


.img-galery__main-img-wrap {
  max-width: 477px;
  max-height: 636px;
  overflow: hidden;
}
.main-img__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.main-img__container img {
  object-fit: cover;
  width: 100%;
}

.checkbox-favorito {
  display: none;
}

.label-favorito {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px 16px 0 0;
  user-select: none;
}

.label-favorito::before {
  content: url(/src/assets/icons/favorite__linear.svg);
  position: absolute;
  left: 0;
  top: 1px;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.checkbox-favorito:checked + .label-favorito:before {
  content: url("/src/assets/icons/favorite__fullFill.svg"); /* Corazón lleno */
}

.product-details__details-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 556px;
}
.product-title__details-box {
  color: var(--Color-primario);
  font-size: var(--tamaño-de-fuente-Titulos-H2-principal);
  font-weight: var(--peso-de-fuente-principal-600);
  line-height: 56px;
}
.product-code__details-box {
  font-size: var(--tamaño-de-fuente-principal);
  color: #323842ff;
  line-height: 26px;
}
.product-price__details-box {
  color: var(--color-secundario-oscuro);
  font-size: var(--tamaño-de-fuente-Titulos-H2-principal);
  font-weight: var(--peso-de-fuente-principal-600);
  /* padding: 10px 0 10px 0; */
  line-height: 56px;
}

/* .colors-option__details-box,
.size-options__details-box,
.quantity__details-box {
  padding: 4px 16px 12px 0;
} */

.text__colors-option,
.text__size-options,
.text__quantity-options {
  font-family: var(--estilo-de-fuente-Principal);
  font-size: var(--tamaño-de-fuente-principal);
  font-weight: var(--peso-de-fuente-titulo-pequeño-700);
  line-height: 26px;
  padding-bottom: 5px;
  color: var(--color-de-fuente-neutral-650);
}

.buttons-container__colors-option {
  display: flex;
}

.color-option-button {
  width: 36px;
  height: 36px;
  background: var(--color-background-secundary);
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
  transition: var(--Trasicion-MidSlow);
}

.color-option-button:hover {
  filter: brightness(105%);
  -webkit-filter: brightness(108%);
}

.colorSelected::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  border: 3px var(--color-bordes-oscurecidos) solid;
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.colorSelected:hover::after {
  border: 2.5px var(--color-bordes-oscurecidos) solid;
  opacity: 0.3;
}

.silver {
  background: #dee1e6ff;
}
.rose {
  background: #e6ae87ff;
}
.size-options__details-box {
  font-size: var(--tamaño-de-fuente-principal);
  line-height: 26px;
  font-weight: var(--peso-de-fuente-titulo-pequeño-700);
  color: var(--color-de-fuente-neutral-650);
}
.size-text-wrap__size-options {
  display: flex;
  justify-content: space-between;
  font-family: var(--tipograhy-body);
}

.link__size-options {
  font-size: var(--tamaño-de-fuente-ultra-small);
  line-height: 20px;
  font-weight: 500;
  color: var(--color-de-fuente-neutral-650);
  cursor: help;
}

.link__size-options:hover {
  color: var(--color-secundario-oscuro);
}
.sizes__size-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  
}
.button-small-sizes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 36px;
  background-color: transparent;
  font-family: var(--estilo-de-fuente-Principal);
  color: var(--color-de-fuente-neutral-600);
  font-size: var(--tamaño-de-fuente-small);
  line-height: 22px;
  border: 1px var(--color-de-fuente-neutral-600) solid;
  border-radius: 4px;
  cursor: pointer;
  flex-wrap: wrap;
  transition: all 80ms ease;
}

.button-small-sizes:hover {
  filter: brightness(110%);
  color: var(--color-gris-65);
  border-color: var(--color-gris-65);
  -webkit-filter: brightness(110%);
}

.active-gold {
  border-color: var(--color-secundario-oscuro);
  color: var(--color-secundario-oscuro);
}

.button-container__quiantity-options {
  display: flex;
  gap: 16px;
  width: max-content;
}

.decrement-button,
.items-quantity,
.increment-button {
  width: 39px;
  height: 44px;
  padding: 0 16px;
  color: #565e6cff;
  font-family: var(--tipograhy-body);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #f3f4f6ff;
}

.items-quantity {
  pointer-events: none;
}

.decrement-button::after {
  content: "-";
}

.increment-button::after {
  content: "+";
}

.increment-button::before,
.decrement-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 39px;
  height: 44px;
  margin: 0;
  border: transparent;
  transition: var(--Trasicion-MidSlow);
}

.increment-button:hover::before,
.decrement-button:hover::before {
  border: 2px var(--color-primario-claro) solid;
}

.buttons-product__details-box {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.button-add-to-bag,
.button-buy-now {
  width: 256px;
  height: 52px;
  border-radius: 26px;
  background-color: transparent;
  border: 1px var(--color-primario-claro) solid;
  color: var(--color-primario-claro);
  font-size: var(--tamaño-de-fuente-botones);
  line-height: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.button-add-to-bag::before {
  content: url(/src/assets/icons/add-to-car.svg);
  width: 21px;
  height: 21px;
  display: flex;
}

.button-add-to-bag {
  border-color: var(--Color-primario-ofsat);
}

.button-buy-now {
  color: var(--color-blanco);
  background-color: var(--Color-primario);
}

.button-buy-now:hover {
  background-color: var(--color-primario-claro);
}

.details__container {

  max-width: 556px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.details-segments__details-box {
  position: relative;
  width: 266px;
  padding-right: 44px;
  display: flex;
  align-items: center;
}

.title__details-segments {
  width: 266px;
  height: 44px;
  color: var(--color-de-fuente-neutral-900);
  /* background-color: rgb(216, 216, 216); */
  border-bottom: 1px var(--Color-primario) solid;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.title__details-segments:hover {
  color: var(--color-secundario-oscuro);
}

.title__details-segments::-webkit-details-marker {
  display: none; /* Oculta el icono de expansión en navegadores WebKit (Safari, Chrome) */
}

.title__details-segments::after {
  content: url(/src/assets/icons/buttonflecha.svg);
  transition: var(--Trasicion-MidSlow);
}

.details-segments__details-box[open] .title__details-segments::after {
  transform: rotate(90deg);
}

.text-area-detailsTag {
  height: auto;
  width: max-content;
  max-width: 500px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  background-color: var(--color-secundario);
  border-radius: 0 15px 15px 15px;
  transform: translateY(-1px);
  pointer-events: none;
  color: var(--color-de-fuente-neutral-650);
}

.details-segments__details-box:we {
  background-color: red;
}

.description-product__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-product__article {
  background-color: var(--color-background-secundary);
  max-width: 1176px;
  max-height: 949px;
  border-radius: 8px;
  padding: 72px 48px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.article__type {
  font-size: var(--tamaño-de-fuente-principal);
  color: var(--peso-de-fuente-titulo-pequeño-700);
}

.description-product__article h2 {
  font-size: 40px;
  font-weight: var(--peso-de-fuente-principal-600);
  color: var(--Color-primario);
}

.productVideo {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}




/*Product listing Tatiana*/

.main__productlisting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 50px;
  height: auto;
  gap: 48px;
  overflow: hidden;
  background-image: url(../assets/img/textures/texture.svg);
  background-color: var(--Color-primario);
}



.productlisting__headline-wrap {
  width: 80%;
  margin-bottom: 146px;

}




.productlisting__headline-wrap h1 {
  text-align: center;
  color: var(--color-secundario);
  font-weight: var(--peso-de-fuente-principal-400);
  font-size: var(--tamaño-de-fuente-our-products-listing);
}



.search__bar {
  max-width: 758px;
  display: flex;
  align-items: center;
  background-color: var(--color-blanco);
  border-radius: 25px;
  padding: 10px 20px;
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search__bar button {
  width: 100%;
  display: flex;
  background: transparent;
  cursor: pointer;
  border: none;
}


.search__bar input {
  padding: 2px 10px;
  border: none;
  outline: none;
  width: 100%;
}

.search__bar ::placeholder {
  display: flex;
  width: 100%;
  font-family: var(--estilo-de-fuente-Principal);
  font-size: var(--tamaño-de-fuente-Titulos-H3);
  color: var(--color-de-fuente-neutral-900);
}


/*Product listing botones Tatiana*/

.main__categorieproducts{
  max-width: 1440px;
  margin-top: 72px;
  margin-left: 9.1%;
  margin-right: 9.1%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.categorieproducts__buttons{
  display: flex;
  gap: 2%;

}


.button__active {
  background-color: var(--Color-primario);
  color: var(--color-blanco);
  border-radius: 20px;
  /* padding: 1rem 5rem; */
  border: none;
}

.button__options {
  color: var(--Color-primario);
  background-color: transparent;
  border: none;
  border-right: 1px solid rgb(99, 221, 215);
  padding: 0.5rem 3rem 0 1.8rem;
  height: 60%;
  margin-top: 1%;
}


.button__options:first-of-type {
  border-left: none;
}

.button__options:hover {
  cursor: pointer;
}


.categorieproducts__buttons button:nth-child(5) {
  border-right: none;
}



/* .main__categorieproducts select:nth-child(1) {
  margin-left: 600%;
}
 */

/* 
.main__categorieproducts .button__sortbyoption {
  display: flex;
  position: relative;
  background-color: transparent;
  color: var(--Color-primario);
} */

.button__sortbyoption {
  border: none;
  border-bottom: 1px solid var(--Color-primario);
  position: relative;
  display: flex;
  background-color: transparent;
  color: var(--Color-primario);
}





/*Cards Tatiana*/

.main__cards {
  padding: 3.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25.4rem, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 1.5rem;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

.card__container {
  border-radius: 8px; /* border-xl */
  transition: var(--Trasicion-MidSlow);
  aspect-ratio: 276/404;
}

.card__container:hover {
  box-shadow: 0 32px 49px -25px hwb(0 13% 87% / 0.52);
  -webkit-box-shadow: 0 32px 49px -25px hwb(0 13% 87% / 0.52);
-moz-box-shadow: 0 32px 49px -25px hwb(0 13% 87% / 0.52);
}

.card__container-link {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.card__container figure {
  width: 100%;
  aspect-ratio: 276/320;
}

.card__container figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
  pointer-events: none;
  user-select: none;
}

.card__container div h2 {
  font-family: var(--estilo-de-fuente-Titulos);
  font-size: var(--tamaño-de-fuente-Titulos-H3);
  font-weight: var(--peso-de-fuente-titulo-pequeño-700);
  color: var(--color-de-fuente-neutral-900);
 

}

.card__container div p {
  font-family: var(--estilo-de-fuente-Principal);
  font-size: var(--tamaño-de-fuente-small);
  font-weight: var(--peso-de-fuente-principal-400);
  color: var(--color-de-fuente-neutral-900);
}

.card__container div {
  padding: 0.75em 1.25em 0.75em 0.75em;
  border: 2px var(--color-background-secundary) solid;
  border-top: none;
  border-radius: 0 0 8px 8px;
}


  .card__container:nth-child(9) {
    grid-column: 1/3;
    grid-row: 3/5;
  }

  .main__card {
    grid-template-columns: repeat(4, 1fr);
  }


  .card__container:nth-child(9) figure {
    aspect-ratio: 576/734;
  }
  .card__container:nth-child(9) h2 {
    font-size: 1.75rem;
  }


  .header__menu {
    display: block;
  }

  .header__links {
    display: none;
  }





  /*Pagination botones abajo Tatiana*/

.buttons__pagination{
  display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
}

  .pagination {
    display: flex;
    align-items: center;
}

.pagination a, .pagination span {
    color: var(--color-de-fuente-neutral-500);
    text-decoration: none;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 10px;
    display: flex;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a.active {
    color: var(--Color-primario);
    border: 1px solid var(--Color-primario);
    border-radius: 50%;
    padding: 5px 10px;
}

.pagination a:hover {
  background-color: var(--Color-primario);
  color:var(--color-blanco);
}


.pagination a:hover:not(.active) {
    color:var(--Color-primario);
    color: var(--color-blanco);
}

.pagination span {
    cursor: default;
    padding: 12px;
}



/* Checkout - Payment Success -Daniela */

.main__img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}

.card__Payment_Success figure img{
  width: 150px;
  height: 150px; 
  border-radius: 148px;
  object-fit: cover;
}

.card__Payment_Success div h2{
  font-family: var(--estilo-de-fuente-Titulos);
  font-size: 32px; 
  line-height: 48px; 
  font-weight: 700; 
  color: var(--color-de-fuente-neutral-900);
}

.card__Payment_Success div p{
  color: var(--color-de-fuente-neutral-500);
}

.main__date{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.main__container-list{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-blanco);
  border: 2px solid #DEE1E6FF;
  padding: 20px;
  max-width: 500px;
  border-radius: 4px;
}

.main__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linea{
  width: 450px; 
  height: 0px; 
  border-width: 1px; 
  border-color: #DEE1E6FF;
  border-style: solid; 
  transform: rotate(0deg);
}

.items__order_line{
  display: flex;
  align-items: center;
  height: max-content;
}

.items__order_line img {
  width: 94px;
  height: 94px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 10px;
}

.details{
  height: 100%;
}

.details p {
  margin: 5px 0;
}

.main__list h2{
  font-family: "Manrope", sans-serif;
  color: #9095A0FF;
  font-size: 16px;
  line-height: 26px; 
  font-weight: 400;
  padding: 1.5rem;
}

.main__list p{
  position: relative;
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #171A1FFF;
}

.order-line h2{
  font-family: var(--estilo-de-fuente-Principal);
  font-size: 14px; 
  line-height: 22px; 
  font-weight: var(--peso-de-fuente-principal-400); 
  color: var(--color-de-fuente-neutral-900);
}

.items__order_line h2{
  font-family: var(--estilo-de-fuente-Titulos);
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 700; 
  color: #323842FF;
}

.items__order_line p{
  font-family: var(--estilo-de-fuente-Principal);
  font-size: 11px; 
  line-height: 18px; 
  font-weight: 400; 
  color: #9095A0FF;
}

.cards-container{
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.precio{
  position: relative;
  display: flex;
  bottom: 60px;
  margin-left: 280px;
  color: #171A1FFF;
}

.button-Continue_shopping{
  text-decoration: none;
  position: relative;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-family: var(--estilo-de-fuente-Principal); 
  color: var(--color-blanco);
  padding: 0 16px;
  font-size: 16px;
  background-color: #0D554AFF;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  height: 44px;
  width: 40%;
  left: 30%;
}

.input-container-payment-success{
    font-family: var(--estilo-de-fuente-Principal);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6FF;
    border-radius: 50px;
    width: 32px;
    height: 28px;
}

input[type="text"] {
  border: none;
  background: none;
  color: #323842FF;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 100%;
  outline: none;
  font-family: var(--estilo-de-fuente-Principal);
}

.datosfinal{
  position: relative;
  justify-content: right;
  display: flex;
}

.container_icon-name{
  display: flex;
  justify-content: center;
  align-items: center;
}



