:root {
  --Color-primario: #093931ff;
  --color-primario-oscuro: #171a1f4d;
  --color-secundario: #f5d38eff;

  --color-de-fuente-neutral-500: #9095a0ff;
  --color-de-fuente-neutral-650: #424955ff;
  --color-de-fuente-neutral-500: #9095a0ff;
  --color-de-fuente-neutral-900: #171a1fff;

  --color-blanco: #fff;
  --color-blanco-95: hsl(0, 0%, 95%);
  --color-gris-80: #cccccc;
  --color-gris-65: #a6a6a6;

  --color-fondo-primario: var(--color-blanco);
  --color-background-secundary: #f9f9fa;
  --color-fondo-especial: var(--color-primario);

  --estilo-de-fuente-Titulos: "Cormorant Garamond", serif;
  --estilo-de-fuente-Principal: "Manrope", serif;

  --peso-de-fuente-titulo-pequeño-700: 700;
  --peso-de-fuente-principal-600: 600;
  --peso-de-fuente-secundario-400: 400;

  --tamaño-de-fuente-Titulos-H1: 7.2rem;
  --tamaño-de-fuente-Titulos-H2-principal: 4rem;
  --tamaño-de-fuente-Titulos-H2-footer: 4.8rem;
  --tamaño-de-fuente-Titulos-H3: 1.8rem;
  --tamaño-de-fuente-Titulos-H4: 2.4rem;
  --tamaño-de-fuente-span-20: 2rem;
  --tamaño-de-fuente-principal: 1.6rem;
  --tamaño-de-fuente-small: 1.4rem;
  --tamaño-de-fuente-ultra-small: 1.2rem;

  --tamaño-de-fuente-logo-darling: 3rem;

  --tamaño-de-fuente-our-collections-fotos: 3.2rem;

  --tamaño-de-fuente-botones: 1.8rem;
  --radio-de-boton-principal: 2.6rem;
  --borde-boton-principal-white: 1px var(--color-blanco) solid;
  --borde-boton-principal-verde: 1px var(--Color-primario) solid;
  --fondo-de-boton-transparente: rgba(255, 255, 255, 0);

  --ancho-icon-nav: 20px;
  --alto-icon-nav: 20px;
  --ancho-icon-seccion: 62px;
  --alto-icon-seccion: 62px;

  --paddin-48-132: 48px 132px;
  --border-radius-general: 8px;
  --border-radius-cards: 8px 8px 0 0;

  --max-width-general: 1440px;
  --grid-colums-auto: 3;



  --Trasicion-MidSlow: 280ms cubic-bezier(0.83, 0, 0.2, 1);
}

/* Se establece 62.5% para hacer uso de rem en este proyecto 1 rem = 10px  */

html {
  font-size: 62.5%;
  font-family: var(--estilo-de-fuente-Principal);
}

body {
  background-color: var(--color-fondo-primario);
  font-size: var(--tamaño-de-fuente-principal);
  min-width: 320px;
  font-weight: var(--peso-de-fuente-principal-400);
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: var(--estilo-de-fuente-Titulos);
}

p {
  line-height: 26px;
}

.estado--oculto {
  display: none;
  visibility: hidden;
}

.globalheader {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  background-color: var(--Color-primario);
}

.globalheader__wrap {
  max-width: 1440px;
  display: flex;
  overflow: hidden;
  height: 62px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  margin: 0 auto;
}

.globalheader__wrap a {
  text-decoration: none;
}

.globalheader__logo {
  font-family: var(--estilo-de-fuente-Titulos);
  font-size: var(--tamaño-de-fuente-logo-darling);
  color: var(--color-secundario);
  grid-column: 1/3;
  justify-items: start;
  text-align: left;
}

.globalheader__nav-container {
  display: flex;
  align-items: center;
}

.globalnav {
  padding: 0 20px;
}


.globalnav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.globalnav__item {
  display: inherit;
}

.globalnav__link__text {
  padding: 10px;
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}


.globalnav__link:hover ::before{
  content: "";
  width: 100%;
  height: auto;
  border-bottom: 2px var(--color-secundario) solid;
  position: absolute;
  z-index: 1;
  bottom: -5px;
  right: 0;
}

.globalnav__item a {
  margin: 10px 0 10px 0px;
  border-bottom: unset;
  transition: 80ms ease-in-out;
}

.globalnav__link__text {
  font-family: var(--estilo-de-fuente-Principal);
  font-size: var(--tamaño-de-fuente-small);
  font-weight: var(--peso-de-fuente-secundario-400);
  color: var(--color-blanco);
}

.globalheader__icons {
  display: inherit;
  align-items: center;
  justify-content: center;
  height: 20px;
  gap: 10px;
}

.header__icon {
  height: 100%;
}

.header__icon svg path {
  stroke-width: 1.2;
}

.header__icon:hover svg path {
  stroke: var(--color-secundario);
}


.globalheader__botonMobile {
  background-color: transparent;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
}



.globalheader__botonMobile svg {
  width: 100%;
  height: auto;
  transition: 80ms ease-in-out;
  -webkit-transition: 80ms ease-in-out;
  -moz-transition: 80ms ease-in-out;
  -ms-transition: 80ms ease-in-out;
  -o-transition: 80ms ease-in-out;
}

.globalheader__botonMobile svg:hover {
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
}

.main__wrap {
  margin: 0 auto;
  padding-top: 62px;
}

/* Seccion del header by Holguer pinzon*/

.main__headersection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 50px;
  height: auto;
  gap: 48px;
  overflow: hidden;
  background-image: url(../assets/img/textures/texture.svg);
  background-color: var(--Color-primario);
}

.headersection__headline-wrap {
  max-width: 537px;
  margin-right: 72px;
  margin-bottom: 24px;
}

.headersection__title {
  margin: 0 0 0.67em 0;
  font-size: var(--tamaño-de-fuente-Titulos-H1);
  color: var(--color-secundario);
  font-weight: var(--peso-de-fuente-secundario-400);
}

.headersection__art-wrap {
  /* display: inherit;
    justify-content: center;
    align-items: center; */
  position: relative;
}

.headersection__imageContainer {
  display: flex;

  width: 100%;
}

.headersection__image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.headersection__video-wrap {
  background-color: #9095a0;
  width: 241px;
  height: 321px;
  overflow: hidden;
  display: flex;
  border-radius: 150px 150px 0 0;
  resize: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 70%;
  /* left: -100px; */
  /* max-width: 241px; */
  pointer-events: none;
  box-sizing: border-box;
}

.headersection__video-wrap video {
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  pointer-events: auto;
}

/* Icon section Tatiana 1*/

.icon-section {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--color-blanco);
}

.icon-box {
  text-align: center;
  line-height: 20px;
  max-width: 276px;
  padding: 10px;
}

.icon-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.icon-box h3 {
  margin-bottom: 10px;
  font-size: var(--tamaño-de-fuente-Titulos-H3);
  font-weight: var(--peso-de-fuente-principal-600);
  color: var(--color-de-fuente-neutral-900);
}

.icon-box p {
  font-size: var(--tamaño-de-fuente-principal);
  font-weight: var(--peso-de-fuente-secundario-400);
  color: var(--color-de-fuente-neutral-500);
}

/*Featured products section tatiana 1 */
/* Edit by Holguer pinzon */

.home-productOne-section {
  width: 100%;
  height: auto;
  min-height: 554px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-secundary);
  padding: 48px 0 48px 5%;
}

.home-productOne-section__text {
  min-width: 264px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
}

.home-productOne-section__text h2 {
  font-size: var(--tamaño-de-fuente-Titulos-H2-principal);
  font-weight: var(--peso-de-fuente-principal-600);
  line-height: 56px;
  margin-bottom: 10px;
  color: var(--Color-primario);
  text-wrap: pretty;
  max-width: 262px;
}

.home-productOne-section__text p {
  font-size: var(--tamaño-de-fuente-principal);
  font-weight: var(--peso-de-fuente-secundario-400);
  color: var(--color-de-fuente-neutral-900);
  margin-bottom: 20px;
  line-height: 26px;
  max-width: 264px;
}

.button-shop-now {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--fondo-de-boton-transparente);
  border-radius: 26px;
  cursor: pointer;
  width: 200px;
  height: 52px;
}

.button-default {
  color: var(--Color-primario);
  border: var(--borde-boton-principal-verde);
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.button-default:hover {
  color: var(--color-blanco);
  background-color: var(--Color-primario);
}

.button-white {
  color: var(--color-blanco);
  border: var(--borde-boton-principal-white);
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.button-white:hover {
  color: var(--Color-primario);
  background-color: var(--color-blanco);
}


.products-grid {
  display: flex;
  overflow-y: auto;
  gap: 20px;
  scrollbar-width: none;
}

.product-item {
  min-width: 276px;
  min-height: 410px;
  background-color: var(--color-blanco);
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}

.product-item:last-child {
  margin-right: 10px;
}

.product-item img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 278px;
  height: 320px;
  aspect-ratio: 276 / 320;
  border-radius: var(--border-radius-cards);
}

.product-item h3 {
  font-size: var(--tamaño-de-fuente-Titulos-H4);
  margin: 12px 0 0 12px;
}

.product-item p {
  font-size: var(--tamaño-de-fuente-principal);
  font-family: var(--estilo-de-fuente-Principal);
  margin: 0 0 18px 12px;
}

/*Our collections - Tatiana*/

.ourcollections-container {
  position: relative;
  min-height: 1082px;
  text-align: center;
  padding: 48px 0;
  background-color: var(--color-blanco);
  overflow: hidden;
}

.ourcollections-container h2 {
  font-size: var(--tamaño-de-fuente-Titulos-H2-principal);
  font-weight: var(--peso-de-fuente-principal-600);
  color: var(--Color-primario);
  margin-bottom: 88px;
}

.collections-grid {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 360px), 360px));
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 36px;
  justify-content: center;
}

.collection-item {
  width: 360px;
  height: 360px;
  border-radius: var(--border-radius-general);
  -webkit-border-radius: var(--border-radius-general);
  -moz-border-radius: var(--border-radius-general);
  -ms-border-radius: var(--border-radius-general);
  -o-border-radius: var(--border-radius-general);
  overflow: hidden;
}

.elevated {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.collection-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.collection-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-blanco);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: var(--tamaño-de-fuente-our-collections-fotos);
  font-weight: var(--peso-de-fuente-principal-600);
  margin: 0;
}

/*Our-Selection-of-Jewelry-Daniela*/
.home-productTwo-section {
  width: 100%;
  height: auto;
  min-height: 554px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-secundary);
  padding: 48px 0 48px 5%;
}

.Our-Selection-of-Jewelry-wrap {
  display: inherit;
  justify-content: center;
  /* padding: 72px 132px; */
}

.home-productTwo-section__text {
  min-width: 264px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
}

.home-productTwo-section__text h2 {
  font-size: var(--tamaño-de-fuente-Titulos-H2-principal);
  font-weight: var(--peso-de-fuente-principal-600);
  line-height: 56px;
  margin-bottom: 10px;
  color: var(--Color-primario);
  text-wrap: pretty;
  max-width: 262px;
}

.home-productTwo-section__text p {
  font-size: var(--tamaño-de-fuente-principal);
  font-weight: var(--peso-de-fuente-secundario-400);
  color: var(--color-de-fuente-neutral-900);
  margin-bottom: 20px;
  line-height: 26px;
  width: 264px;
}

.Selection-grid {
  display: flex;
  overflow-y: auto;
  gap: 20px;
  scrollbar-width: none;
}

.Selection-item {
  min-width: 276px;
  min-height: 410px;
  background-color: var(--color-blanco);
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}

.Selection-item h3 {
  font-size: var(--tamaño-de-fuente-Titulos-H4);
  margin: 12px 0 0 12px;
}

.Selection-item p {
  font-size: var(--tamaño-de-fuente-principal);
  font-family: var(--estilo-de-fuente-Principal);
  margin: 0 0 18px 12px;
}

.Selection-item img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 276 / 320;
  border-radius: var(--border-radius-cards);
}

.Home-Our-story {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 564px;
  background-color: var(--color-background-secundary);
  padding: 0 0 48px 0;
}

.story__wrap {
  display: inherit;
  justify-content: center;
  flex-direction: column;
}

.video-our-story {
  max-width: 1176px;
  max-height: 368px;
  display: flex;
  justify-content: center;
}

.Home-Our-story h2 {
  color: var(--Color-primario);
  font-size: var(--tamaño-de-fuente-Titulos-H2-principal);
  font-weight: var(--peso-de-fuente-principal-600);
  text-align: center;
  margin-bottom: 20px;
}

.video-our-story video {
  width: 100%;
  background-color: var(--color-blanco);
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* FOOTER BY holguer  */

.footer-section {
  display: flex;
  width: 100%;
  height: auto;
  padding: 72px 0 75px 0;
  background-color: var(--Color-primario);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section__text-wrap {
  color: var(--color-blanco);
  margin-bottom: 50px;
}

.footer-section__title {
  font-size: var(--tamaño-de-fuente-Titulos-H2-footer);
  font-weight: var(--peso-de-fuente-principal-600);
  margin-bottom: 12px;
}

.footer-section__description {
  font-size: var(--tamaño-de-fuente-principal);
  font-weight: var(--peso-de-fuente-principal-400);
  width: 264px;
}

.footer-section__feedback-card {
  min-height: 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primario-oscuro);
}

.feedback-card__img-container {
  width: fit-content;
  transform-origin: 0 0;
}

.feedback-card__img-container img {
  object-fit: cover;
  width: 100%;
}

.feedback-card__wrap-text {
  padding: 32px;
  max-width: 324px;
}

.feedback-card__parrafo {
  font-size: var(--tamaño-de-fuente-principal);
  color: var(--color-blanco);
  margin-bottom: 16px;
}

.feedback-card__person-name {
  font-family: var(--estilo-de-fuente-Principal);
  font-size: var(--tamaño-de-fuente-span-20);
  font-weight: var(--peso-de-fuente-titulo-pequeño-700);
  color: var(--color-blanco);
  line-height: 30px;
}

.feedback-card__person-pais {
  color: var(--color-blanco);
}

.feedback-card__botones {
  display: flex;
  position: absolute;
  bottom: -25px;
  right: 0;
  gap: 18px;
  z-index: 1;
}

.buttonCircle {
  background-color: transparent;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--borde-boton-principal-white);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.buttonCircle:hover {
  background-color: var(--color-blanco);
} 

.buttonCircle svg {
  transform: translateX(-1px);
  -webkit-transform: translateX(-1px);
  -moz-transform: translateX(-1px);
  -ms-transform: translateX(-1px);
  -o-transform: translateX(-1px);
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.buttonCircle:hover svg {
  transform: translateX(-3px);
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
}



.buttonCircle svg path {
  fill: white;
}

.buttonCircle:hover svg path {
  fill: #093931ff; /* Cambia el color del SVG al hacer hover */
}

.btncPrev {
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  background-position-x: 16px;
}

/* footer */

.footer {
  width: 100%;
  min-height: 234px;
  background-color: var(--Color-primario);
  overflow: hidden;
  top: -1px;
}

.footer__wrap-box1 {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: var(--paddin-48-132);
  color: var(--color-blanco);
  max-width: 1440px;
  margin: 0 auto;
}

.footer__wrap-box1 a,
.footer__wrap-box1 ul {
  text-decoration: none;
  list-style: none;
}

.footer__logo {
  font-family: var(--estilo-de-fuente-Titulos);
  font-size: var(--tamaño-de-fuente-logo-darling);
  color: var(--color-secundario);
  height: 100%;
}

.footer__nav-footer {
  display: flex;
  justify-content: space-between;
}

.footer__nav-footer-colum {
  margin-right: 94px;
}

.nav-footer__item {
  margin-bottom: 12px;
}

.nav-footer__item a {
  font-size: var(--tamaño-de-fuente-small);
  font-weight: var(--peso-de-fuente-principal-400);
  color: var(--color-blanco);
}

.sub-noticias__title {
  color: var(--color-blanco);
  font-size: var(--tamaño-de-fuente-span-20);
  font-weight: var(--peso-de-fuente-titulo-pequeño-700);
}

.sub-noticias__descripcion {
  color: var(--color-blanco);
  font-size: var(--tamaño-de-fuente-ultra-small);
  margin-bottom: 16px;
}

.sub-noticias__form-subscripcion {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 36px;
  border-radius: 18px;
  border: var(--borde-boton-principal-white);
  outline: none;
  justify-content: space-between;
}

.form-subscripcion__icon {
  position: absolute;
  display: none;
}

.sub-noticias__form-subscripcion button:focus {
  border: none;
  outline: none;
}

.form-subscripcion__input {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-left: 10px;
  color: var(--color-blanco);
  border-radius: 18px 0 0 18px;
  -webkit-border-radius: 18px 0 0 18px;
  -moz-border-radius: 18px 0 0 18px;
  -ms-border-radius: 18px 0 0 18px;
  -o-border-radius: 18px 0 0 18px;
}

.form-subscripcion__input:focus {
  border: none;
  outline: none;
}

.form-subscripcion__input::-webkit-input-placeholder {
  color: var(--color-background-secundary);
}

.form-subscripcion__input::-moz-placeholder {
  color: var(--color-background-secundary);
}

.form-subscripcion__input:-ms-input-placeholder {
  color: var(--color-background-secundary);
}

.form-subscripcion__input::-ms-input-placeholder {
  color: var(--color-background-secundary);
}

.form-subscripcion__input::placeholder {
  color: var(--color-background-secundary);
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.form-subscripcion__input:focus::placeholder {
  opacity: 0.2;
}



.boton-especial {
  cursor: pointer;
  font-size: var(--tamaño-de-fuente-small);
  width: 114px;
  background-color: var(--color-secundario);
  border: none;
  border-radius: 0 18px 18px 0;
  transition: var(--Trasicion-MidSlow);
  -webkit-transition: var(--Trasicion-MidSlow);
  -moz-transition: var(--Trasicion-MidSlow);
  -ms-transition: var(--Trasicion-MidSlow);
  -o-transition: var(--Trasicion-MidSlow);
}

.boton-especial:hover {
  background-color: var(--color-secundario);
  filter: brightness(115%);
  -webkit-filter: brightness(115%);
}

.footer__wrap-box2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 132px;
  align-items: center;
  padding-bottom: 25px;
  max-width: 1440px;
  margin: 0 auto;
}

.footer__copyright-title {
  font-size: var(--tamaño-de-fuente-small);
  color: var(--color-blanco);
  width: 100%;
  max-width: 1440px;
}

.footer__socialicons-wrap {
  display: flex;
  width: fit-content;
  gap: 16px;
}

.socialicons__link {
  list-style: none;
}

.socialicons__icon {
  display: flex;
  width: 24px;
  height: 24px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-twitter {
  background-image: url(/src/assets/icons/icon_social_networks/icon__x.svg);
}

.icon-facebook {
  background-image: url(/src/assets/icons/icon_social_networks/icon__facebook.svg);
}

.icon-linkedin {
  background-image: url(/src/assets/icons/icon_social_networks/icon__linkedin.svg);
}

.icon-youtube {
  background-image: url(/src/assets/icons/icon_social_networks/icon__youtube.svg);
}



/* Checkout - Payment Success -Daniela */

.main__img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}

.card__Payment_Success figure img{
  width: 150px;
  height: 150px; 
  border-radius: 148px;
  object-fit: cover;
}

.card__Payment_Success div h2{
  font-family: var(--estilo-de-fuente-Titulos);
  font-size: 32px; 
  line-height: 48px; 
  font-weight: 700; 
  color: var(--color-de-fuente-neutral-900);
}

.card__Payment_Success div p{
  color: var(--color-de-fuente-neutral-500);
}

.main__date{
  position: relative;
  display: grid;
  justify-content: center;
  background-color: var(--color-blanco);
  border: 2px solid #DEE1E6FF;
  left: 350px;
  padding: 20px;
  max-width: 500px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  border-radius: 4px;
}

.main__list{
  display: flex;
  align-items: center;
}

.linea{
  width: 450px; 
  height: 0px; 
  border-width: 1px; 
  border-color: #DEE1E6FF;
  border-style: solid; 
  transform: rotate(0deg);
}

.items__order_line{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.items__order_line img {
  width: 94px;
  height: 94px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 10px;
}

.details p {
  margin: 5px 0;
}

.main__list h2{
  font-family: "Manrope", sans-serif;
  color: #9095A0FF;
  font-size: 16px;
  line-height: 26px; 
  font-weight: 400;
  padding: 1.5rem;
}

.main__list p{
  position: relative;
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #171A1FFF;
  left: 100px;
}

.order-line{
  overflow-y: scroll;
}

.order-line h2{
  font-family: var(--estilo-de-fuente-Principal);
  font-size: 14px; 
  line-height: 22px; 
  font-weight: var(--peso-de-fuente-principal-400); 
  color: var(--color-de-fuente-neutral-900);
}

.items__order_line h2{
  font-family: var(--estilo-de-fuente-Titulos);
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 700; 
  color: #323842FF;
}

.items__order_line p{
  font-family: var(--estilo-de-fuente-Principal);
  font-size: 11px; 
  line-height: 18px; 
  font-weight: 400; 
  color: #9095A0FF;
}

.precio{
  position: relative;
  display: flex;
  bottom: 60px;
  margin-left: 280px;
}

.button-Continue_shopping{
  position: relative;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-family: var(--estilo-de-fuente-Principal); 
  color: var(--color-blanco);
  padding: 0 16px;
  font-size: 16px;
  background-color: #0D554AFF;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  height: 44px;
  width: 35%;
  left: 150px;
}

.input-container-payment-success{
    font-family: var(--estilo-de-fuente-Principal);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6FF;
    border-radius: 50px;
    width: 32px;
    height: 28px;
}

input[type="text"] {
  border: none;
  background: none;
  color: #333;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 100%;
  outline: none;
  font-family: 'Arial', sans-serif;
}

.datosfinal{
  position: relative;
  display: flex;
  left: 100px;
}
