:root {
    --Color-primario: #0D554AFF ;
    --color-secundario:  #F5D38EFF;


    --color-de-fuente-neutral-500: #9095A0FF;
    --color-de-fuente-neutral-650: #424955FF;
    --color-de-fuente-neutral-500: #9095A0FF;
    --color-de-fuente-neutral-900: #171A1FFF;
  
    --color-blanco: #fff;
    --color-blanco-95: hsl(0, 0%, 95%)
    --color-gris-80: #cccccc;
    --color-gris-65: #a6a6a6;

    --color-fondo-primario : var(--color-blanco) ;
    --color-background-secundary: #f9f9fa;
    --color-fondo-especial: var(--color-primario);

    --estilo-de-fuente-Titulos:  "Cormorant Garamond", serif ; 
    --estilo-de-fuente-Principal: "Manrope", serif;
    
    --peso-de-fuente-titulo-pequeño: 700;
    --peso-de-fuente-principal: 600;
    --peso-de-fuente-secundario: 400;

    
    --tamaño-de-fuente-Titulos-H1: 7.2rem;
    --tamaño-de-fuente-Titulos-H2-principal: 4rem;
    --tamaño-de-fuente-Titulos-H3: 2.4rem;
    --tamaño-de-fuente-principal: 1.6rem;
    --tamaño-de-fuente-small: 1.4rem;
    --tamaño-de-fuente-Titulos-H3: 72px;
    --tamaño-de-fuente-logo-darling: 3rem;
    


    --tamaño-de-fuente-botones: 1.8rem;
    --radio-de-boton-principal: 2.6rem;
    --borde-boton-principal-white: 1px var(--color-blanco) solid;
    --borde-boton-principal-verde: 1px var(--Color-primario) solid;

    
}

* {
    font-family: var(--estilo-de-fuente-Principal);

}

/* Se establece 62.5% para hacer uso de rem en este proyecto 1 rem = 10px  */

html {
    font-size: 62.5%;
    
}

body { 
    background-color: var(--color-fondo-primario);
    font-size: var(--tamaño-de-fuente-principal);
 }
 


h1, h2, h3 {
    font-family: var(--estilo-de-fuente-Titulos);
}







/* aqui empieza el codigo de daniela seccion 1*/
